name: test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3
      - uses: erlef/setup-beam@v1.15
        with:
          otp-version: '25'
          gleam-version: '0.27'
          rebar3-version: '3'
          # elixir-version: "1.14.2"
      - run: gleam format --check src test
      - run: gleam deps download
      - run: gleam test
